.competence-page {
    width: 100%;
    min-height: 100vh;
    background-color: #3C3A3A;
    font-family: 'Ubuntu';
    padding-top: 60px;

    h1 {
        margin: 0;
        display: flex;
        justify-content: center;
        padding-top: 30px;
        font-size: 40px;
        color: #C3C3C3;
    }

    .competence-list {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 50px;
        cursor: pointer;
    }

    .content {
        flex-grow: 1;

        h2 {
            width: 100%;
            margin-bottom: 10px;
        }

        .skill-logo {
            width: 30%;
            margin-bottom: 10px;
        }

        p {
            width: 100%;
            max-height: 200px;
            text-overflow: auto;
            white-space: normal;
            margin-bottom: 10px;
        }
    }
}

