.experience-page {
    width: 100%;
    min-height: 100vh;
    background-color: #3C3A3A;
    font-family: 'Ubuntu';

    h1 {
        margin: 0;
        display: flex;
        justify-content: center;
        padding-top: 30px;
        font-size: 40px;
        color: #C3C3C3;
    }
}