.admin-page {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: #3C3A3A;
    font-family: 'Ubuntu';
    padding-top: 60px;

    .log-out {
        width: 50px;
        height: 50px;
        background-color: rgb(173, 44, 44);
        border-radius: 0px 0px 50px 0px;
        padding-left: 5px;
        margin: 0;
        cursor: pointer;
        position: fixed;
    }

    h1 {
        margin: 0;
        color: #C3C3C3;
        display: flex;
        justify-content: center;
        padding-top: 5%;
    }

    .list-container {
        display: flex;
        justify-content: space-around;
        padding-top: 5%;


        .project-list {
            width: 50%;
            height: auto;
            min-height: 400px;
            background-color: #2F2F2F;
            display: flex;
            flex-direction: column;
            border-radius: 10px;

            h2 {
                color: #C3C3C3;
                font-size: 20px;
                margin: 20px auto;
            }

            ul {
                display: flex;
                flex-direction: column;
                list-style: none;
                color: #C3C3C3;
                font-size: 16px;
                font-weight: 700;
                padding: 0;

                li {
                    display: flex;
                    justify-content: space-between;
                    padding: 0px 20px;

                    button {
                        margin-right: 10px;
                    }

                    .fa-solid {
                        display: none;
                    }
                }
            }

            button {
                background-color: #95F867;
                color: #2F2F2F;
                border: none;
                border-radius: 5px;
                padding: 3px 20px;
                margin-bottom: 5px;
                cursor: pointer;
            }

            #button-delete {
                background-color: rgb(240, 53, 53);
            }


            .project-list {
                justify-content: space-between;
            }
        }
    }

    .button-container {
        display: flex;
        justify-content: center;
        margin-top: 5%;


        button {
            background-color: #95F867;
            color: #2F2F2F;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
        }
    }

    .content {
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;

            input,
            textarea,
            .submit {
                text-align: center;
                margin-top: 30px;
            }

            textarea {
                height: 150px;
                resize: none;
            }

            .submit {
                background-color: #95F867;
                color: #2F2F2F;
                border: none;
                border-radius: 5px;
                padding: 10px 20px;
                cursor: pointer;
            }

            .checkbox {
                display: flex;
                justify-content: center;
                align-items: center;

                label {
                    padding-right: 10px;
                }

                input[type='checkbox'] {
                    margin: auto 0;
                }
            }

            .quill {
                padding: 20px 0px;
                .ql-snow {
                    background-color: white;
                }
                .ql-editor {
                    color: black;
                    height: 200px;
                }
            }

        }
    }
}

@media all and (max-width: 767px) {
    .admin-page {
        .list-container {
            .project-list {
                width: 100%;
                border-radius: 0;

                ul {
                    li {
                        .text-edit, .text-delete {
                            display: none;
                        }

                        .fa-solid {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}